<div class="row">
  <div class="col-sm-8.col-sm-offset-2">
    <h2>Créez un post</h2>
    <form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Contenu</label>
        <input type="text" class="form-control" id="content" formControlName="content">
      </div>
      <button type="submit" class="btn btn-success">Enregistrer</button>
    </form>
  </div>
</div>
