<div class="row">
  <h2>Posts</h2>
    <div class="col-xs-12">
      <ul class="list-group">
        <app-post-list-item-component *ngFor="let post of posts; let i = index"
                                      [indexOfPost]="i"
                                      [postObject]="post"
                                      [postTitle]="post.title"
                                      [postContent]="post.content"
                                      [postLoveIts]="post.loveIts"
                                      [postDate]="post.created_at"></app-post-list-item-component>
      </ul>
    </div>
</div>
